<?xml version="1.0"?>
<configuration>
  <connectionStrings>



    <add name="Connect"         connectionString="Data Source=NXT-ADMIN1;Initial Catalog=Legalcase_ASP;User ID=sa;Password=Nxt"/>


    <!--<add name="Hospital"          connectionString="Data Source=NXT-ADMIN1;Initial Catalog=SNSKONGU;Integrated Security=True"/>-->



    <add name = "Excel03ConString" connectionString = "Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name = "Excel07+ConString" connectionString = "Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>



    <pages controlRenderingCompatibilityVersion="4.0"/>


    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5.2"/>

  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>