<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="connect" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\nxt-admin-2\Desktop\ASP.NET\Learner_Trainer\temp\New template\App_Data\Learner.mdf;Integrated Security=True"/>-->

    <!--<add name="connect" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=F:\Doc and Code\ASP.NET\ApplicationSide_Code_Document\2024\LawCourse\App_Data\Learner.mdf;Integrated Security=True"/>-->

    <add name="connect" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=\\NXT-ADMIN1\Doc and Code\ASP.NET\ApplicationSide_Code_Document\2024\LawCourse\App_Data\Learner.mdf;Integrated Security=True"/>
    
    

  
    
    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>